*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f8ff;
    text-align: center;
    padding: 40px;
}

input , button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}